@import url("mpl.css");

body > h1 { text-align: center; }

div.body h1 { margin-top: 0; margin-bottom: 0.4em; font-size: 250%; }
div.body h2 { font-size: 200%; }
div.body h3 { font-size: 160%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

div.body h2, h3, h4
{
	background-color: rgb(250, 250, 250);
	margin: 20px -20px 10px;
}
div.body h2
{
	border-bottom: 3px solid rgb(184, 184, 184);
	padding: 15px 0pt 15px 10px; 
}
div.body h3
{
	border-bottom: 1px solid rgb(184, 184, 184);
	padding: 6px 0pt 6px 10px;
}
div.body h4
{
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(184, 184, 184);
	padding: 2px 0pt 2px 10px;
}
.align-center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.align-center img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.viewcode-link
{
	padding-left: 1em;
}