{% extends "!layout.html" %}

{% block rootrellink %}
        <li><a href="{{ pathto('index') }}">home</a>|&nbsp;</li>
        <li><a href="{{ pathto('search') }}">search</a>|&nbsp;</li>
        <li><a href="https://forge.imag.fr/projects/pycomodo/">forge</a>|&nbsp;</li>
        <li><a href="{{ pathto('api/index') }}"><b><code>pycomodo</code></b></a> &raquo;</li>
{% endblock %}

{% block relbar1 %}
<h1 style="background-color: #fff; font-size: 2em; padding: 0.7em 0pt; font-size:3.5em;">
Comodo Tools Documentation
</h1>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

